<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDErwfsN3t4GY255n3yWXlK_MqKhjLUgbA</string>
	<key>GCM_SENDER_ID</key>
	<string>20187006733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agromate</string>
	<key>PROJECT_ID</key>
	<string>agromate-c4f66</string>
	<key>STORAGE_BUCKET</key>
	<string>agromate-c4f66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20187006733:ios:185bf6c76e41e8a71f5244</string>
</dict>
</plist>